.create-chat__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.create-chat__data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20% 0 0 20%;
    width: 60%;
    height: 30vh;
}
.MuiFormLabel-root {
    color: white !important;
}
.MuiInputBase-root {
    color: white !important;
}