body {
    padding: 0;
    margin: 0;
}
.app {
    width: 100%;
    height: 100vh;
    color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./services/background.png');
    background-size: cover;   
}
.app a {
    color: inherit;
}

.s_input label {
    color: #ECECEC !important;
}
.s_input>div::before {
    border-bottom: 2px solid #ECECEC;
}
.s_input>div::after {
    border-bottom: 2px solid #ECECEC;
}
.s_button {
    color: #ECECEC !important;
    border: 1px solid #ECECEC !important;
}